version: '3'
services:
  postgres:
    image: postgres:latest
    container_name: postgres-bare
    ports:
      - "5432:5432"
    environment:
    - POSTGRES_PASSWORD=postgres

  postgres-keycloak:
    image: postgres:latest
    container_name: postgres-keycloak
    ports:
      - "5433:5433"
    environment:
      - POSTGRES_PASSWORD=postgres
    command: -p 5433

  keycloak:
    image: bitnami/keycloak:latest
    container_name: keycloak
    ports:
      - "8081:8081"
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KEYCLOAK_HTTP_PORT=8081
      - KEYCLOAK_DATABASE_HOST=postgres-keycloak
      - KEYCLOAK_DATABASE_PORT=5433
      - KEYCLOAK_DATABASE_NAME=postgres
      - KEYCLOAK_DATABASE_USER=postgres
      - KEYCLOAK_DATABASE_PASSWORD=postgres
      - KEYCLOAK_EXTRA_ARGS=--import-realm
    volumes:
      - ${PWD}/default-realm/:/opt/bitnami/keycloak/data/import
